* {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    margin-bottom: 0;
}

.logo {
    width: 90px;
}

ul {
    display: flex;
    list-style-type: none;
}
li {
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

#section-1 {
    background-color: #1f2937;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 0;
    gap: 20px;
    padding: 15px 30px 50px 30px;
}

.section-preview {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.section-title {
    font: 38px extrabold;
    color: #f9faf8;
    margin-bottom: 5px;
    text-align: center;
}

#section-info {
    width: 300px;
    color: #f9faf8;
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
}

.button-1 {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    width: 120px;
}

.button-1:hover {
    background-color: #f9faf8;
    color: #3882f6;
    transition: 0.3s;
    cursor: pointer;
}

.section-preview-container {
    display: flex;
    justify-content: center;
    width: 400px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

img {
    width: 200px;
}

#section-2 {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 15px;
}

#grid-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 10px;
    padding-bottom: 100px;
}

.box {
    width: 200px;
}

.div-box {
    width: 200px;
    border-radius: 10px;
}

.box-text {
    color: #1f2937;
    font-size: 18px;
}

#section-3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.quote-div {
    display: flex;
    flex-flow: column wrap;
}

.quote {
    text-align: justify;
    width: 300px;
    color: #1f2937;
    font-size: 18px;
    margin-bottom: 0;
}

.author {
    text-align: end;
    margin-top: 0;
}

#section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.blue {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 10px;
    background-color: #3882f6;
    width: 600px;
    padding: 40px 70px;
    border-radius: 10px;
}

.button-2 {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 10px;   
}

.button-2:hover {
    color: #3882f6;
    background-color: #f9faf8;
    cursor: pointer;
    transition: 0.3s;
}
.section-text {
    color: #f9faf8;
    padding-left: 10px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 90px;
}

.f-text {
    color: #e5e7eb;
}

img 
{
    border-radius: 15px;
}